/* Global tweaks */
.page {
  max-width: 1100px;
}

.page__content {
  max-width: 1100px;
}

.page__inner {
  max-width: 1100px;
}

.layout--home .archive {
  max-width: 1100px;
  margin: 0 auto;
}

.sitemap-list {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}

.sitemap-list li {
  margin-bottom: 0.8rem;
}

.sitemap-list a {
  font-size: 1.05rem;
}

.sitemap-list__meta {
  font-size: 0.85rem;
  opacity: 0.7;
  margin-left: 0.4rem;
}
